.header {
    width:100%;
    height: auto;
    padding: 5px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    background: rgb(53, 52, 52);
}
.outside{
    margin: 0px;
    background: rgb(168, 167, 167);
    font-size: 20px;
    font-weight: normal;
    color
}